*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: hsl(0,0%,94%);
} */
/* .main-container{
    width:450px;
    height: 350px;
    border:2px solid #000; 
    perspective: 800px;
    transform-style: preserve-3d;
    border:none; 
}
.main-container2{
    width:450px;
    height: 350px;
    border:none; 
    position: relative;
    transform: rotateY(35deg);
    opacity: .8;
    background-color: grey;
    perspective: 800px;
}
img{
    width:450px;
    height: 350px;
    border:2px solid #000; 
    position: relative;
    object-fit: cover;
    border:none; 
    transform-origin: top;
    animation: myAnimation 10s linear infinite;
}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(70deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} */
body{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: hsl(0, 1%, 26%);
}
h2{
    color:#fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parent-container{
    width: 250px;
    height:250px;
    perspective: 800px;
    border:none;

}
.child-container{
    width: 250px;
    height: 250px;               
    border:2px solid black;
    background-color: azure;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(35deg);
    border:none;
}
.box{
    width:100%;
    height:100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform-origin: top;
    color:#fff;
    font-size:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: myAnimation 10s linear infinite;
    border:none;

}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(70deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 
.box-1{
    background: url("beautiful\ nature\ images/nature-image1.jpg");
        animation: myAnimation 10s linear infinite;
        animation-delay: 8s;
        background-color: #efe3e8;
        background-blend-mode: hard-light;
}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(80deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 
.box-2{
    background: url("beautiful\ nature\ images/nature-image2.jpg");
    background-size: cover;
    background-color: green;
  animation: myAnimation 10s linear infinite;
          animation-delay: 16s;
 background-color: #6e5861;
        background-blend-mode: hard-light;

}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(80deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 
.box-3{
    background: url("beautiful\ nature\ images/nature-image3.jpg");
    background-size: cover;
    background-color: blue;
  animation: myAnimation 10s linear infinite;
          animation-delay: 24s;

 background-color: #efe3e8;
        background-blend-mode: hard-light;
}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(80deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 
.box-4{
    background: url("beautiful\ nature\ images/nature-image4.jpg");
    background-size: cover;
  animation: myAnimation 10s linear infinite;
          animation-delay: 32s;

 background-color: #846e77;
        background-blend-mode: hard-light;
}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(80deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 
.box-5{
    background: url("beautiful\ nature\ images/nature-image5.jpg");
    background-size: cover;
    background-color: purple;
  animation: myAnimation 10s linear infinite;
          animation-delay: 40s;

 background-color: #efe3e8;
        background-blend-mode: hard-light;
}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(80deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 
.box-6{
    background: url("beautiful\ nature\ images/nature-image6.jpg");
    background-size: cover;
    background-color: pink;
  animation: myAnimation 10s linear infinite;
          animation-delay: 48s;

 background-color: #efe3e8;
        background-blend-mode: hard-light;
}
@keyframes myAnimation{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(80deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 
